<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Practice Project: GDP Data extraction and processing

Estimated time needed: **30** minutes

## Introduction

In this practice project, you will put the skills acquired through the course to use. You will extract data from a website using webscraping and reqeust APIs process it using Pandas and Numpy libraries.

## Project Scenario:

An international firm that is looking to expand its business in different countries across the world has recruited you. You have been hired as a junior Data Engineer and are tasked with creating a script that can extract the list of the top 10 largest economies of the world in descending order of their GDPs in Billion USD (rounded to 2 decimal places), as logged by the International Monetary Fund (IMF). 

The required data seems to be available on the URL mentioned below:

URL: https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29

## Objectives

After completing this lab you will be able to:

 - Use Webscraping to extract required information from a website.
 - Use Pandas to load and process the tabular data as a dataframe.
 - Use Numpy to manipulate the information contatined in the dataframe.
 - Load the updated dataframe to CSV file.

---

## Dislcaimer

If you are using a downloaded version of this notebook on your local machine, you may encounter a warning message as shown in the screenshot below.

<p style="text-align:center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/mod_5/practice_project_disclaimer.png" width="700" alt="warning message">
</p>


This does not affect the execution of your codes in any way and can be simply ignored.

# Setup

For this lab, we will be using the following libraries:

*   [`pandas`](https://pandas.pydata.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for managing the data.
*   [`numpy`](https://numpy.org/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0187ENSkillsNetwork31430127-2021-01-01) for mathematical operations.

In [3]:
#Install required packages
!pip install pandas numpy 
!pip install lxml

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: lxml in /opt/conda/lib/python3.12/site-packages (5.3.0)

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [4]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

---

# Exercises

### Exercise 1
Extract the required GDP data from the given URL using Web Scraping.

In [6]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

You can use Pandas library to extract the required table directly as a DataFrame. Note that the required table is the third one on the website, as shown in the image below.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [15]:
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables= pd.read_html(URL)
df=tables[3]
# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df=df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df=df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns=['Country','GDP (Million USD)']
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

Ce bout de code en **Python** extrait un tableau d'une page web en utilisant **Pandas** et le transforme en un **DataFrame** contenant les 10 plus grandes Ã©conomies mondiales selon le PIB. Voici une explication dÃ©taillÃ©e :

### 1. Extraction des tableaux de la page web  
```python
tables = pd.read_html(URL)
df = tables[3]
```
- `pd.read_html(URL)` rÃ©cupÃ¨re **tous** les tableaux (`<table>`) prÃ©sents dans la page web spÃ©cifiÃ©e par `URL` sous forme de liste de DataFrames.  
- `df = tables[3]` sÃ©lectionne le **4e tableau** (les index commencent Ã  0).

### 2. Remplacement des en-tÃªtes de colonnes  
```python
df.columns = range(df.shape[1])
```
- Remplace les noms des colonnes par des nombres entiers correspondant Ã  leur position (0, 1, 2, ...).

### 3. SÃ©lection des colonnes pertinentes  
```python
df = df[[0,2]]
```
- Conserve uniquement les **colonnes d'index 0 et 2**, qui contiennent :
  - **Colonne 0** : le **nom du pays**.
  - **Colonne 2** : la **valeur du PIB** selon le FMI.

### 4. SÃ©lection des 10 premiÃ¨res lignes (les 10 plus grandes Ã©conomies)  
```python
df = df.iloc[1:11,:]
```
- Garde uniquement les lignes dâ€™index `1` Ã  `10` (exclut la ligne dâ€™index 0, qui pourrait Ãªtre un en-tÃªte supplÃ©mentaire).

### 5. Attribution de noms aux colonnes  
```python
df.columns = ['Country','GDP (Million USD)']
```
- Renomme les colonnes pour les rendre plus explicites :
  - **"Country"** â†’ Nom du pays.
  - **"GDP (Million USD)"** â†’ PIB en millions de dollars amÃ©ricains.

### ðŸ”¹ **RÃ©sumÃ©**  
Ce script extrait un tableau depuis une page web, filtre les donnÃ©es pour ne conserver que les **10 plus grandes Ã©conomies mondiales selon le FMI**, et les met en forme sous un **DataFrame Pandas** prÃªt Ã  Ãªtre analysÃ©.

âš  **HypothÃ¨ses** :  
- Le **4e tableau** de la page contient bien les donnÃ©es souhaitÃ©es.  
- La structure du tableau sur la page web ne change pas.  
- Lâ€™indexation commence Ã  1 pour les lignes de pays (Ã©vite les en-tÃªtes non nÃ©cessaires).

<details>
    <summary>Click here for Solution</summary>

```python
# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']
```

</details>

### Exercise 2
Modify the GDP column of the DataFrame, converting the value available in Million USD to Billion USD. Use the `round()` method of Numpy library to round the value to 2 decimal places. Modify the header of the DataFrame to `GDP (Billion USD)`.

In [33]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.

# Convert the GDP value in Million USD to Billion USD

# Use numpy.round() method to round the value to 2 decimal places.

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'

str

Voici le code modifiÃ© avec les Ã©tapes demandÃ©es :  

### ðŸ”¹ **Ajout des transformations**
```python
import pandas as pd
import numpy as np

# Extract tables from webpage using Pandas. Retain table number 3 as the required dataframe.
tables = pd.read_html(URL)
df = tables[3]

# Replace the column headers with column numbers
df.columns = range(df.shape[1])

# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country','GDP (Million USD)']

# Change data type of 'GDP (Million USD)' to integer
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert GDP from Million USD to Billion USD
df['GDP (Billion USD)'] = df['GDP (Million USD)'] / 1000

# Round the values to 2 decimal places
df['GDP (Billion USD)'] = np.round(df['GDP (Billion USD)'], 2)

# Drop the old column 'GDP (Million USD)'
df = df.drop(columns=['GDP (Million USD)'])

# Display the final dataframe
print(df)
```

### ðŸ”¹ **Explication des modifications :**
1. **Conversion du PIB en entier**  
   ```python
   df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)
   ```
   - Assure que la colonne **'GDP (Million USD)'** contient bien des **entiers**.
   
2. **Conversion de Million USD â†’ Billion USD**  
   ```python
   df['GDP (Billion USD)'] = df['GDP (Million USD)'] / 1000
   ```
   - Divise chaque valeur par **1 000** pour convertir de **millions** Ã  **milliards**.

3. **Arrondi Ã  2 dÃ©cimales**  
   ```python
   df['GDP (Billion USD)'] = np.round(df['GDP (Billion USD)'], 2)
   ```
   - Utilisation de `numpy.round()` pour limiter la valeur Ã  **2 dÃ©cimales**.

4. **Suppression de l'ancienne colonne**  
   ```python
   df = df.drop(columns=['GDP (Million USD)'])
   ```
   - Supprime la colonne **'GDP (Million USD)'** car elle n'est plus nÃ©cessaire.

### ðŸ”¹ **Exemple de sortie du DataFrame :**
| Country  | GDP (Billion USD) |
|----------|------------------|
| USA      | 26.85            |
| China    | 17.73            |
| Japan    | 4.94             |
| Germany  | 4.08             |
| India    | 3.73             |
| UK       | 3.08             |
| France   | 2.78             |
| Italy    | 2.11             |
| Canada   | 2.00             |
| Brazil   | 1.89             |

Ce code assure que les valeurs sont correctement formatÃ©es en **milliards de dollars** et **arrondies** pour une meilleure lisibilitÃ©. ðŸš€

<details>
    <summary>Click here for solution</summary>
    
```python
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

```
</details>

### Exercise 3

Load the DataFrame to the CSV file named "Largest_economies.csv"

In [ ]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"

<details>
    <summary>Click here for Solution</summary>

```python
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('./Largest_economies.csv')
```

</details>

---

# Congratulations! You have completed the lab.

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-11-10|0.1|Abhishek Gagneja|Created initial version|

Copyright Â© 2023 IBM Corporation. All rights reserved.